<?xml version="1.0"?>
<config>
    <modules>
        <Aleron75_Magemonolog>
            <version>0.2.0</version>
        </Aleron75_Magemonolog>
    </modules>
    <global>
        <models>
            <aleron75_magemonolog>
                <class>Aleron75_Magemonolog_Model</class>
            </aleron75_magemonolog>
        </models>
        <helpers>
            <aleron75_magemonolog>
                <class>Aleron75_Magemonolog_Helper</class>
            </aleron75_magemonolog>
        </helpers>
        <log>
            <core>
                <writer_model>Aleron75_Magemonolog_Model_Logwriter</writer_model>
            </core>
        </log>
    </global>
    <default>
        <magemonolog>
            <handlers>
                <StreamHandler>
                    <active>1</active>
                    <params>
                        <stream>magemonolog.log</stream>
                        <level>DEBUG</level>
                        <bubble>true</bubble>
                        <filePermission>null</filePermission>
                        <useLocking>false</useLocking>
                    </params>
                </StreamHandler>
                <NativeMailHandler>
                    <active>true</active>
                    <params>
                        <to>aleron75@gmail.com</to>
                        <subject>Log</subject>
                        <from>aleron75@gmail.com</from>
                        <level>ERROR</level>
                        <bubble>true</bubble>
                        <maxColumnWidth>70</maxColumnWidth>
                    </params>
                </NativeMailHandler>
            </handlers>
        </magemonolog>
    </default>
</config>