<?xml version="1.0"?>
<config>
    <modules>
        <Aleron75_Magemonolog>
            <version>0.1.0</version>
        </Aleron75_Magemonolog>
    </modules>
    <global>
        <models>
            <aleron75_magemonolog>
                <class>Aleron75_Magemonolog_Model</class>
            </aleron75_magemonolog>
        </models>
        <helpers>
            <aleron75_magemonolog>
                <class>Aleron75_Magemonolog_Helper</class>
            </aleron75_magemonolog>
        </helpers>
        <log>
            <core>
                <writer_model>Aleron75_Magemonolog_Model_Logwriter</writer_model>
            </core>
        </log>
    </global>
    <default>
        <magemonolog>
            <!--<logwriter>-->
                <!--<class>NativeMailHandler</class>-->
                <!--<params>-->
                    <!--<to>aleron75@gmail.com</to>-->
                    <!--<subject>Log</subject>-->
                    <!--<from>aleron75@gmail.com</from>-->
                    <!--<level>ERROR</level>-->
                    <!--<bubble>true</bubble>-->
                    <!--<maxColumnWidth>70</maxColumnWidth>-->
                <!--</params>-->
            <!--</logwriter>-->
            <logwriter>
                <class>StreamHandler</class>
                <params>
                    <stream>magemonolog.log</stream>
                    <level>ERROR</level>
                    <bubble>true</bubble>
                    <filePermission>null</filePermission>
                    <useLocking>false</useLocking>
                </params>
            </logwriter>
        </magemonolog>
    </default>
</config>